.nopadding {
    padding: 0 !important;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.corner {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 90%;
    -ms-transform: translate(-90%, -90%);
    transform: translate(-90%, -90%);
}

.play {
    padding: 15px 45px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.play:hover {
    background-color: #3e8e41
}

.play:active {
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}

.stop {
    padding: 15px 45px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #b83c0c;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.stop:hover {
    background-color: #d34114
}

.stop:active {
    background-color: #912a0b;
    box-shadow: 0 1px #666;
    transform: translateY(4px);
}