<!DOCTYPE html>
<html>

<head>
    <title>Chess</title>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/indexstyle.css')}}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="bg-light">
        <nav class="navbar bg-dark">
            <div class="text-light" style="font-size: 30px;">Play Chess</div>
        </nav>
    </div>
    <div class="flex-page">
        <div class="side-nav bg-dark">
            <ul>
                <li>
                    <a href="{{ url_for('comvscom') }}">Com vs Com</a>
                </li>
                <li>
                    <a href="{{ url_for('playcom') }}">Play Com</a>
                </li>
            </ul>
        </div>



        <div class="content p-5" style="margin: 10%;">

            <div class="square">
                <a href="{{ url_for('comvscom') }}">
                    <img class="img-thumbnail" src="../static/img/Group 1.png" alt="" style="border-radius: 20px;">
                </a>
            </div>
            <div class="square">
                <a href="{{ url_for('playcom') }}">
                    <img class="img-thumbnail" src="../static/img/Group 2.png" alt="" style="border-radius: 20px;">
                </a>
            </div>
        </div>
    </div>
</body>

</html>