<!DOCTYPE html>
<html>

<head>
    <title>Chess</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chessboard-1.0.0.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css')}}" />

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chess.js/chess.js')}}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-dark">
        <div class="text-light" style="font-size: 30px;">Play Chess</div>

    </nav>
    <div class="container">
        <h6 class="display-4 text-center" style="padding-top: 20px;">Play Chess<br><br></h6>
        <div class="row">

            <div class="col-md-5" id="myBoard"></div>
            <div class="col-md-4">
                <label>Status:</label>
                <div id="status"></div>
                <label>FEN:</label>
                <div id="fen"></div>
                <label>PGN:</label>
                <div id="pgn"></div>
            </div>
        </div>
        <script>
            var board = null
            var game = new Chess()
            var $status = $('#status')
            var $fen = $('#fen')
            var $pgn = $('#pgn')
            var socket = io().connect('http://127.0.0.1:5000');

            function onDragStart(source, piece, position, orientation) {
                // do not pick up pieces if the game is over
                if (game.game_over()) return false

                // only pick up pieces for White
                if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
                    (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
                    return false
                }
            }



            function makeRandomMove() {
                var possibleMoves = game.moves()

                // game over
                if (possibleMoves.length === 0) return

                var randomIdx = Math.floor(Math.random() * possibleMoves.length)


                socket.emit('conn')
                socket.on('move', function (receiving_data) {
                    console.log(receiving_data);
                    game.move(receiving_data)
                    board.position(game.fen())
                    updateStatus()
                });


            }

            function onDrop(source, target) {
                // see if the move is legal
                var move = game.move({
                    from: source,
                    to: target,
                    promotion: 'q' // NOTE: always promote to a queen for example simplicity
                })


                // illegal move
                if (move === null) return 'snapback'


                // make random legal move for black
                window.setTimeout(makeRandomMove, 250)
                updateStatus()
                socket.on('my response', function (msg) {
                    $('#log').append('<p>Received: ' + msg.data + '</p>');
                });
                socket.emit('fen', game.fen())

            }

            // update the board position after the piece snap
            // for castling, en passant, pawn promotion
            function onSnapEnd() {
                board.position(game.fen())
            }

            function updateStatus() {
                var status = ''

                var moveColor = 'White'
                if (game.turn() === 'b') {
                    moveColor = 'Black'
                } else {
                    moveColor = 'White'
                }


                // checkmate?
                if (game.in_checkmate()) {
                    status = 'Game over, ' + moveColor + ' is in checkmate.'
                }

                // draw?
                else if (game.in_draw()) {
                    status = 'Game over, drawn position'
                }

                // game still on
                else {
                    status = moveColor + ' to move'

                    // check?
                    if (game.in_check()) {
                        status += ', ' + moveColor + ' is in check'
                    }
                }

                $status.html(status)
                $fen.html(game.fen())
                $pgn.html(game.pgn())

            }

            var config = {
                draggable: true,
                position: 'start',
                onDragStart: onDragStart,
                onDrop: onDrop,
                onSnapEnd: onSnapEnd
            }
            board = Chessboard('myBoard', config)
        </script>

    </div>
</body>

</html>